<mat-toolbar color="primary">
   Your Token
</mat-toolbar>
  <div class="basic-container">
      <div layout-fill *ngIf="status" layout="column" layout-align="center none">
          <div layout="row" layout-align="center none">
            <mat-card >
                {{ status }}
            </mat-card>
          </div>
      </div>
      <mat-card>
        <mat-card-title>
          Your YTC Token (Your Token)
        </mat-card-title>
        <mat-card-content>
            Your ETH Balance = {{ ethBalance }} ETH<br/>
            Your YTC Balance = {{ balance }} <br/>
            Your Eth Address = {{ account }}<br/>
        </mat-card-content>
        <div class="button-row">
          <button mat-raised-button color="primary"  (click)="airDropToken()">Buy YTC Token</button>
        </div>
      </mat-card>
      <mat-divider></mat-divider>
  </div>
